.container {
    display: flex;
    justify-content: center;
}

.grid-container {
    display: flex;
    justify-content: center;
}

.grid {
    /* display: flex;
    justify-content: center; */
    height: 600px;
    width: 900px;
}